<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Store Locator</title>
</head>
<body>
	{% for store in stores %}
		<div>
			<h3>{{store['name']}}</h3>
			<p></p>
		</div>
		<a href="https://www.google.com/maps/place/{{store['latitude']}}+{{store['longitude']}}/@{{store['latitude']}},{{store['longitude']}}z"><img src="https://maps.googleapis.com/maps/api/staticmap?markers={{store['latitude']}},{{store['longitude']}}&amp;zoom=14&amp;size=400x400&amp;key={{ API_KEY }}"></a>
	{% endfor %}	
</body>
</html>