<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Store Locator</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
 <div class="container">
 	<h2 style="text-align: center;">Find Nearest Store</h2>
	<div style="margin: 20px; max-width: 420px; margin-left:auto; margin-right:auto;">
		<form method="POST" class="form-inline">
		 <div class="form-group">
		 	<label>Enter your postcode:</label>
			{% if error %}
				<p id="error">{{ error }}</p>
			{% endif %}
			<input type="text" name="postcode" class="form-control" id="postcode" required="" placeholder="W12 0PR">
		 </div>
			<button type="submit" class="btn btn-primary">Submit </button>
		</form>
	</div>
	<div>
	{% for store in stores %}
		<div class='thumbnail' style="max-width:420px; margin-left:auto; margin-right:auto;">
			<a href="https://www.google.com/maps/place/{{store['latitude']}}+{{store['longitude']}}/@{{store['latitude']}},{{store['longitude']}}z">
				<img class="map" src="https://maps.googleapis.com/maps/api/staticmap?markers={{store['latitude']}},{{store['longitude']}}&amp;zoom=14&amp;size=400x400&amp;key={{ API_KEY }}">
			</a>
			<div class="caption">
			 <h3 class="store" style="text-align: center;">{{ store['name'] }}</h3>
			</div>
		</div>
	{% else %}
		<div>
			<p id='no-result' style="text-align: center;">No stores nearby.</p>
		</div>
	{% endfor %}
	</div>
	{{ results }}
 </div>
</body>
</html>
				